@font-face{
 font-family:'digital-clock-font';
 src: url('digital.ttf');
}

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:'digital-clock-font',sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.calculator {
    padding: 10px 0px 10px;
    background-color: rgb(35,35,34);
    border: 2px solid rgb(112,109,108);
    border-radius: 2px;
}

.display-container {
    display: flex;
    width: 400px;
    height: 80px;
    border: 2px solid black;
    align-items: center;
    padding: 0px 10px 0px;
    background-color: rgb(62,87,70);
}

#display {
    margin-left: auto;
    font-size: 60px;
}

.calculator > div{
    display: flex;
    justify-content: space-between;
    gap:10px;
    margin: 10px 20px 10px;
}

.calculator >div > button{
    background-color: rgb(45,45,44);
    width: 100%;
    height: 50px;
    color: lightgray;
    font-size: 18px;
    font-family: 'Mukta', sans-serif;
}